//                                          ,--.
// ,-----.                                 /  /     ,--.  ,--.,--------.,--.   ,--.,--.
// |  |) /_  ,--,--. ,---.  ,---.         /  /      |  '--'  |'--.  .--'|   `.'   ||  |
// |  .-.  \' ,-.  |(  .-' | .-. :       /  /       |  .--.  |   |  |   |  |'.'|  ||  |
// |  '--' /\ '-'  |.-'  `)\   --.      /  /        |  |  |  |   |  |   |  |   |  ||  '--.
// `------'  `--`--'`----'  `----'     /  /         `--'  `--'   `--'   `--'   `--'`-----'
//                                    `--'
@use "sass:map";

html {
    @include sans-serif;
    background-color: map.get($colors, "neutral-0");
    color: map.get($colors, "neutral-100");
    font-size: 8px;
}
