//                                          ,--.
// ,-----.                                 /  /     ,--------.                                                   ,--.
// |  |) /_  ,--,--. ,---.  ,---.         /  /      '--.  .--',--. ,--.,---.  ,---.  ,---. ,--.--. ,--,--. ,---. |  ,---. ,--. ,--.
// |  .-.  \' ,-.  |(  .-' | .-. :       /  /          |  |    \  '  /| .-. || .-. || .-. ||  .--'' ,-.  || .-. ||  .-.  | \  '  /
// |  '--' /\ '-'  |.-'  `)\   --.      /  /           |  |     \   ' | '-' '' '-' '' '-' '|  |   \ '-'  || '-' '|  | |  |  \   '
// `------'  `--`--'`----'  `----'     /  /            `--'   .-'  /  |  |-'  `---' .`-  / `--'    `--`--'|  |-' `--' `--'.-'  /
//                                    `--'                    `---'   `--'          `---'                 `--'            `---'
@use "sass:map";

h1, h2, h3, h4, h5, h6 {
    @include serif;
    color: map.get($colors, "red-50");
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
