//                                                                 ,--.
// ,--.   ,--.       ,--.                     ,--.                /  /     ,--.  ,--.,--.          ,--.
// |   `.'   | ,---. |  | ,---.  ,---.,--.,--.|  | ,---.         /  /      |  '--'  |`--',--,--, ,-'  '-.
// |  |'.'|  || .-. ||  || .-. :| .--'|  ||  ||  || .-. :       /  /       |  .--.  |,--.|      \'-.  .-'
// |  |   |  |' '-' '|  |\   --.\ `--.'  ''  '|  |\   --.      /  /        |  |  |  ||  ||  ||  |  |  |
// `--'   `--' `---' `--' `----' `---' `----' `--' `----'     /  /         `--'  `--'`--'`--''--'  `--'
//                                                           `--'
.Hint {
    grid-column: 3/9;
    font-size: 2rem;
    font-style: italic;
}