//                                                                       ,--.
//  ,-----.                               ,--.                          /  /     ,--.  ,--.                  ,--.
// '  .-.  ',--.--. ,---.  ,--,--.,--,--, `--' ,---. ,--,--,--.        /  /      |  '--'  | ,---.  ,--,--. ,-|  | ,---. ,--.--.
// |  | |  ||  .--'| .-. |' ,-.  ||      \,--.(  .-' |        |       /  /       |  .--.  || .-. :' ,-.  |' .-. || .-. :|  .--'
// '  '-'  '|  |   ' '-' '\ '-'  ||  ||  ||  |.-'  `)|  |  |  |      /  /        |  |  |  |\   --.\ '-'  |\ `-' |\   --.|  |
//  `-----' `--'   .`-  /  `--`--'`--''--'`--'`----' `--`--`--'     /  /         `--'  `--' `----' `--`--' `---'  `----'`--'
//                 `---'                                           `--'
.Header {
    @include main-grid;
    align-items: center;
    height: 10rem;

    h1 {
        grid-column: 2 / 4;
    }

    .Search {
        grid-column: 5 / 10;
    }
}