//                                                                       ,--.
//  ,-----.                               ,--.                          /  /     ,--.   ,--.,--.
// '  .-.  ',--.--. ,---.  ,--,--.,--,--, `--' ,---. ,--,--,--.        /  /      |  |   `--'|  |-. ,--.--. ,--,--.,--.--.,--. ,--.
// |  | |  ||  .--'| .-. |' ,-.  ||      \,--.(  .-' |        |       /  /       |  |   ,--.| .-. '|  .--'' ,-.  ||  .--' \  '  /
// '  '-'  '|  |   ' '-' '\ '-'  ||  ||  ||  |.-'  `)|  |  |  |      /  /        |  '--.|  || `-' ||  |   \ '-'  ||  |     \   '
//  `-----' `--'   .`-  /  `--`--'`--''--'`--'`----' `--`--`--'     /  /         `-----'`--' `---' `--'    `--`--'`--'   .-'  /
//                 `---'                                           `--'                                                  `---'
.Library {
    @include main-grid;
    grid-auto-rows: min-content;
    height: calc(100vh - 10rem);
    padding: 2rem 0;
    row-gap: 2rem;

    .Album {
        grid-column-end: span 2;
    }
}